.home {
  height: 670px;
  /* background-color: pink; */
}

.home-con {
  width: 100%;
  /* background-color: palegreen; */
}

.home-con-t {
  position: relative;
  margin-bottom: 14px;
  width: 100%;
  height: 460px;
  /* background-color: mediumaquamarine; */
}

.home-con-t .lbtLeft,
.home-con-t .lbtRight {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: var(--font-size-xxxl);
  color: var(--text-secondary);
  /* background-color: var(--bg-overlay); */
}

.home-con-t .lbtLeft:hover,
.home-con-t .lbtRight:hover {
  background-color: var(--bg-overlay);
  color: var(--text-white);
}

.home-con-t .lbtLeft {
  left: 200px;
}

.home-con-t .lbtRight {
  right: 0;
}

.home-con-t .indicators {
  position: absolute;
  bottom: 30px;
  right: 50px;
  /* background-color: var(--bg-overlay); */
  /* background-color: pink; */
}

.home-con-t .indicators ul {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 15px;
}

.home-con-t .indicators ul li {
  height: 10px;
  width: 10px;
  border: 1px solid var(--border-regular);
  border-radius: 50%;
  background-color: var(--bg-overlay);
  cursor: pointer;
}

.home-con-t .indicators ul li.active {
  background-color: var(--bg-gray);
  border: 1px solid var(--border-dark);
}

.home-con-t>a img {
  display: block;
  height: 100%;
  width: 100%;
  /* transition: all 0.5s ease-in-out; */
}

.home-con-t .home-nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 200px;
  height: 100%;
  background-color: var(--bg-overlay);
}

.home-con-t .home-nav>ul {
  display: flex;
  flex-direction: column;
  justify-content: start;
  height: 100%;
  width: 100%;
  padding: 20px 0;
}

.home-con-t .home-nav>ul>li {
  height: 42px;
  /* background-color: skyblue; */
}

.home-con-t .home-nav>ul>li>a {
  display: inline-block;
  padding: 0px 0px 0px 30px;
  height: 100%;
  width: 100%;
  line-height: 42px;
  font-size: var(--font-size-sm);
  color: var(--text-white);
  /* background-color: pink; */
}

.home-con-t .home-nav>ul>li>a i {
  float: right;
  margin-right: 15px;
}

.home-con-t .home-nav>ul>li:hover {
  background-color: var(--primary-color);
}

.home-con-t .home-nav>ul>li.active {
  background-color: var(--primary-color);
}

.home-con-t .home-nav>ul>li:hover>a i {
  color: var(--text-placeholder);
}

.home-con-t .home-nav>ul>li:hover+.children {
  display: block;
}

.home-con-t .home-nav .children {
  position: absolute;
  top: 0px;
  left: 200px;
  padding: 20px;
  width: 500px;
  height: 460px;
  background-color: var(--bg-white);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  display: none;
  /* background-color: skyblue; */
}

.home-con-t .home-nav .children:hover {
  display: block;
}


.home-con-t .home-nav .children ul {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(6, 1fr);
  align-items: start;
}

.home-con-t .home-nav .children ul li {
  height: 70px;
  line-height: 70px;
  /* background-color: pink; */
}

.home-con-t .home-nav .children ul li a {
  display: flex;
  justify-content: start;
  align-items: center;
  height: 100%;
  width: 100%;
  /* background-color: palevioletred; */
}

.home-con-t .home-nav .children ul li a img {
  display: inline-block;
  height: 40px;
  width: 40px;
}

.home-con-t .home-nav .children ul li a span {
  font-size: var(--font-size-xs);
  color: var(--text-primary);
  margin-left: 10px;
}

.home-con-t .home-nav .children ul li a:hover span {
  color: var(--primary-color);
}

.home-con-b {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: palevioletred; */
}

.home-con-b .access {
  width: 230px;
  height: 170px;
  background-color: var(--bg-dark-2);
}

.home-con-b .access ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  justify-content: space-between;
  align-items: center;
  row-gap: 3px;
}

.home-con-b .access ul li {
  position: relative;
  padding: 0 3px;
  width: 76px;
  height: 82px;
  /* background-color: purple; */
}

.home-con-b .access ul li::before {
  content: "";
  display: block;
  position: absolute;
  top: 4px;
  left: 5px;
  width: 1px;
  height: 75px;
  background-color: #665e57;
}

.home-con-b .access ul li::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 7px;
  width: 70px;
  height: 1px;
  background-color: #665e57;
}

.home-con-b .access ul li a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  line-height: 1.5;
  /* background-color: red; */
}

.home-con-b .access ul li a:hover span {
  color: var(--text-white);
}

.home-con-b .access ul li a img {
  display: inline-block;
  height: 24px;
  width: 24px;
  margin-bottom: 5px;
}

.home-con-b .access ul li a span {
  font-size: var(--font-size-xs);
  color: var(--text-secondary);
}

.home-con-b .item {
  width: 316px;
  height: 170px;
  /* background-color: #fff; */
  transition: all 0.2s ease-in-out;
}

.home-con-b .item:hover {
  scale: 1.01;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}